.header,.home,.testimonial::before{
    background-color: #0d47a1;
}


.home-btn,.about ul li svg,.features-item svg,.testimonial .testi-item  .client-info h5{
color: #0d47a1;
}

.title h6,.features-item:hover,.products .owl-carousel button.owl-next,
.products .owl-carousel button.owl-prev{
    background-color: #0d47a1;
    color: #fff;
}

.contact .contact-form input:focus,.contact .contact-form textarea:focus{
border-bottom:2px solid #0d47a1;
}